<!DOCTYPE html>

<%- include("partials/head.ejs") %>

<body>

    <%- include("partials/navbar.ejs") %>

    <% if (locals.blogs) { %>

    <div class="container" style="display: flex; flex-wrap: wrap; gap: 20px; justify-content: center;">

        <% locals.blogs.forEach(blog => { %>

        <div class="card" style="width: 18rem;">
            <img src=<%= blog.coverImageUrl %> class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"><%= blog.title %></h5>
                <a href=<%="/blog/" + blog._id  %> class="btn btn-primary">Read more</a>
            </div>
        </div>


        <% }) %>

    </div>

    <% } %>

    <%- include("partials/scripts.ejs") %>

</body>

</html>